include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include VERSION
include ufotest/VERSION
include ufotest/default.toml
recursive-include ufotest/scripts *.tcl
recursive-include ufotest/scripts *.sh
recursive-include ufotest/tests *
recursive-include ufotest/templates *
recursive-include ufotest/static *
recursive-include ufotest/plugins *

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
