body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:  #e1e1e1;
    font-size: 1.2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6em;
    /* Now this is interesting: This will force the scrollbar to be there even if it is not needed. This was actually
       a bug. If the scrollbar wasn't there that screwed the width of the containers up and caused some weird jitter on
       page change... */
    overflow-y: scroll;
}

h2 {
    margin-top: 40px;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 4px;
    border-color: #219ebc;
}

div.header-container {
    width: 100%;
    margin: 0px;
    margin-bottom: 80px;
    background-color: #219ebc;
}

div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    font-size: 1.2em;
}

span.logo {
    font-size: 1.4em;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    margin: 15px;
    color: white;
}

div.nav-container{
    display: flex;
    flex-direction: row;
}

a.nav-item {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: #219ebc;
}

a.nav-item:hover {
    border-color: #ffb703;
}

a.nav-item:visited {
    text-decoration: none;
}

.content {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
    padding: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0px 0px 10px #363e4b; */
}


.item {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.btn {
    color: white;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #ffb703;
    border-width: 0;
    border-style: solid;
    border-bottom-width: 3px;
    border-right-width: 2px;
    border-color: #fb8500;
    border-radius: 2px;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
}

.btn:active {
    background-color: #fb8500;
    border-color: rgba(0, 0, 0, 0);
}

/* The following style rules define a general widget which can be used on any page: A two column layout. This is a main
   wrapper box, which is supposed to contain exactly two children which will be aligned as two columns of equal width
   within the main container */

.two-col {
    display: flex;
    flex-direction: row;
}

.two-col>* {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding: 5px;
}


.summary-box {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

.summary-box>h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: darkgray;
}
