.home-container {
    padding-left: 30px;
    padding-right: 30px;
}

h3 {
    font-size: 0.95em;
}

.recent-reports {
    margin-top: 20px;
}

.summary-box {
    margin-bottom: 20px;
}

.overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.overview>* {
    width: 50%;
}

.value {
    font-family: monospace;
    background: #ebebeb;
    font-size: 1.1em;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
}

.value>a {
    color: #fb8500;
    text-decoration: none;
    font-weight: bold;
}


.test-report, .build-report {
    display:flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    margin-bottom: 10px;
}

.progress-bar {
    width: 100%;
    height: 5px;
    content: ' ';
    background: lightgray;
}

.progress-bar>span {
    background-color: greenyellow;
}
