.content a {
    color: white;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #ffb703;
    border-width: 0;
    border-style: solid;
    border-bottom-width: 3px;
    border-right-width: 2px;
    border-color: #fb8500;
    border-radius: 2px;
    font-size: 0.9em;
    text-decoration: none;
}

.title-container {
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    font-size: 1.7em;
    background-color: #219ebc;
    border-width: 0;
    border-style: solid;
    border-bottom-width: 6px;
    border-color: #023047;
}

.title-container>p{
    margin-top: 0;
    font-size: 0.8em;
}

.title-container>h1{
    margin-bottom: 25px;
}

.report-container {
    padding-left: 30px;
    padding-right: 30px;
}

h2 {
    margin-top: 80px;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 4px;
    border-color: #219ebc;
}

.summary {
    display: flex;
    flex-direction: column;
}

.summary>div {
    display: flex;
    flex-direction: row;
}

.summary>div>div {
    width: 50%;
}

h3.test {
    margin-top: 20px;
    border-style: solid;
    border-width: 0px;
    border-left-width: 8px;
    padding-left: 10px;
    padding-top: 5px;
    border-color: gray;
    color: gray;
}
h3.test.passing {
    border-color: #35e95f;
    color: #35e95f;
}
h3.test.error {
    border-color: red;
    color: red;
}


div.test-description {
    color: gray;
    margin-bottom: 10px;
}

/* ALL THE STYLING FOR THE INDIVIDUAL TEST RESULTS */

/* ImageTestResult */

div.image-test-result {
    width: 100%;
}

div.image-test-result>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

/* DictTestResult */

div.dict-test-result {
    display: flex;
    flex-direction: column;
}

div.dict-test-result>div.row {
    display: flex;
    flex-direction: row;
}

div.dict-test-result>div.row>div {
    margin-right: auto;
}
