/* THE COLORS */
$green: #74EB24;

$main-blue: #219ebc;
$dark-blue: #023047;

$main-orange: #ffb703;
$dark-orange: #fb8500;

$barely-gray: #F0F0F0;
$light-gray: lightgray;
$medium-gray: darkgray;
$dark-gray: #5C5C5C;

$background: #e1e1e1;

/* LAYOUT RELATED */

$max-width: 1200px;
$min-width: 40%;

$content-padding: 30px;

$underline-width: 4px;

/* FONT RELATED */

$base-font-size: 1.2em;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
