@import 'variables';

h3 {
    border-style: solid;
    border-width: 0;
    border-bottom-width: $underline-width / 2;
    border-color: $main-blue;
}

.home-container {
    padding-left: $content-padding;
    padding-right: $content-padding;
}

.summary-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

p.no-reports {
    margin: 0;
    color: $dark-gray;
}

.overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.overview>* {
    width: 50%;
}

.tag {
    font-size: 1.1em;
}

.tag>a {
    color: $main-orange;
    text-decoration: none;
    font-weight: bold;
}

.test-report {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: $light-gray;
    margin-bottom: 10px;
    text-decoration: none;
}

.test-report>* {
    margin: 10px;
    text-decoration: none;
    color: black;
}

.test-report-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progress-bar {
    margin: 0;
    width: 100%;
    height: 5px;
    content: ' ';
    background: $light-gray;
}

.progress-bar>span {
    background-color: $green;
}

