@import "variables";

div.list-container {
    padding-left: $content-padding;
    padding-right: $content-padding;
}

div.item {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: $light-gray;
    border-width: 1px;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

a.test-report {
    text-decoration: None;
    color: $dark-text-color;
}

.test-report>* {
    margin-left: 10px;
}

h3 {
    margin-bottom: 5px;
    margin-top: 10px;
}

div.success-bar {
    margin: 0;
    margin-top: 10px;
    content: ' ';
    background-color: $light-gray;
    width: 100%;
    height: 10px;
}

div.success-bar>div {
    margin: 0;
    content: ' ';
    background-color: $green;
    height: 10px;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-container>* {
    flex-basis: 45%;
}

.no-reports {
    color: $dark-gray;
    font-size: 1.2em;
}



