@import "variables";

.report-container {
    padding-right: $content-padding;
    padding-left: $content-padding;
}

.title-container {
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
    color: $light-text-color;
    font-size: 1.6em;
    background-color: $main-blue;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 6px;
    border-color: $dark-blue;
}

.summary {
    display: flex;
    flex-direction: column;
}

.summary>div {
    display: flex;
    flex-direction: row;
}

.summary>div>div {
    width: 50%;
}

h3.test {
    margin-top: 20px;
    border-style: solid;
    border-width: 0;
    border-left-width: 8px;
    padding-left: 10px;
    padding-top: 5px;
    border-color: gray;
    color: gray;
}

h3.test.passing {
    border-color: $green;
    color: $green;
}

h3.test.error {
    border-color: $red;
    color: $red;
}

div.test-description {
    color: gray;
    margin-bottom: 10px;
}

/* TEST RESULTS
   The output of a test can consist of a combination of different child classes of the "AbstractTestResult" base class
   the following sections define the necessary style rules for these individual classes */

/* ImageTestResult */

div.image-test-result {
    width: 100%;
}

div.image-test-result>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 90%;
}

/* DictTestResult */

div.dict-test-result {
    display: flex;
    flex-direction: column;
}

div.dict-test-result>div.row {
    display: flex;
    flex-direction: row;
}

div.dict-test-result>div.row>div {
    width: 50%;
    flex-grow: 1;
}
