{% extends "base.html" %}

{% block title %}Config{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ config.static('config.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ config.static('codemirror/codemirror.css') }}">
    <script src="{{ config.static('codemirror/codemirror.js') }}"></script>
    <script src="{{ config.static('codemirror/mode/toml/toml.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="config-container">
        <div class="config-editor">
            <div class="filename">
                <i class="fas fa-pen"></i>
                <span>Config.toml</span>
            </div>
            <textarea id="editor" rows="{{ line_count }}" spellcheck="false">{{ config_content }}</textarea>
            <button class="btn save" onclick="saveConfig()">Save</button>
        </div>
    </div>
    <script>
        let editor = document.getElementById('editor');
        let codeMirror = CodeMirror.fromTextArea(editor);
        codeMirror.options.mode = 'toml';
        codeMirror.setSize("", "100%");
        codeMirror.refresh();

        function saveConfig() {
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{{ config.url('config/save') }}" ,true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                content: codeMirror.getValue()
            }));
        }
    </script>
{% endblock %}
