{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ config.static('css/home.css') }}">
{% endblock %}

{% block content %}
    <div class="home-container">

        {% block status_summary %}
        <h2>Status Summary</h2>
        <div class="summary-box software-overview">
            <div class="overview">
                {% for spec in status_summary %}
                {% if spec %}
                <div id="{{ spec['id'] }}">
                    {{ spec['label'] }}:
                    <span class="tag" id="{{ spec['id'] }}">
                        {{ spec['value'] }}
                    </span>
                </div>
                {% else %}
                <span class="separator"></span>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endblock %}

        <h3>Disk Usage</h3>
        {% block disk_usage %}
        <div class="disk-usage">
            <div class="two-col">
                <div id="used-space">
                    {{ used_space | format_byte_size('GB') }}
                </div>
                <div
                    id="free-space"
                    style="color:{% if free_space < 10737418240 %}lightcoral{% else %}lightgreen{% endif %};">
                    {{ free_space | format_byte_size('GB') }}
                </div>
            </div>
        </div>
        {% endblock %}

        <div class="two-col recent-reports">

            {% block recent_tests %}
            <div class="recent-tests">
                <h3>Recent Test Reports</h3>
                {% if recent_tests|length > 1 %}
                {% for report in recent_tests %}
                <a class="test-report" href="{{ config.url('archive', report['folder_name'], 'report.html') }}">
                    <div>
                        <div class="report-info">
                            <strong>{{ report['name'] }}</strong>
                            <div>{{ report['start'] }}</div>
                        </div>
                        <div class="report-info">
                            <div class="tag">suite</div>
                            <div>~ {{ report['duration'] }} minutes</div>
                        </div>
                    </div>

                    <div class="progress-bar">
                        <div style="width: {{ report['success_ratio'] * 100 }}%"> </div>
                    </div>
                </a>
                {% endfor %}
                {% else %}
                <p class="no-reports">
                    Looks like no test reports exist yet...
                </p>
                {% endif %}
            </div>
            {% endblock %}

            {% block recent_builds %}
            <div class="recent-builds">
                <h3>Recent Build Reports</h3>
                {% if recent_builds|length > 1 %}
                {% for report in recent_builds %}
                <a class="build-report" href="{{ config.url('builds', report['folder_name'], 'report.html') }}">
                    <div>
                        <div class="report-info">
                            <strong>{{ report['repository_name'] }}</strong>
                            <div>{{ report['start'] }}</div>
                        </div>
                        <div class="report-info">
                            <div class="tag">build</div>
                            <div>Commit: {{ report['commit'][:8] }}</div>
                        </div>
                    </div>

                    <div class="progress-bar">
                        <div style="width: 0;"> </div>
                    </div>

                </a>
                {% endfor %}
                {% else %}
                <p class="no-reports">
                    Looks like no build reports exist yet...
                </p>
                {% endif %}
            </div>
            {% endblock %}

        </div>
    </div>
{% endblock %}
