{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ config.static('css/home.css') }}">
{% endblock %}

{% block content %}
    <div class="home-container">
        <h2>Home</h2>

        {% block status_summary %}
        <div class="summary-box software-overview">
            <h3>Status Summary</h3>
            <div class="overview">
                {% for spec in status_summary %}
                {% if spec %}
                <div id="{{ spec['id'] }}">
                    {{ spec['label'] }}:
                    <span class="tag" id="{{ spec['id'] }}">
                        {{ spec['value'] }}
                    </span>
                </div>
                {% else %}
                <span class="separator"></span>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endblock %}

        <div class="two-col recent-reports">

            {% block recent_tests %}
            <div class="recent-tests">
                <h3>Recent Test Reports</h3>
                {% if recent_tests|length > 1 %}
                {% for report in recent_tests %}
                <a class="test-report" href="{{ config.url('archive', report['folder_name'], 'report.html') }}">
                    <div>
                        <div class="test-report-info">
                            <strong>{{ report['name'] }}</strong>
                            <div>{{ report['start'] }}</div>
                        </div>
                        <div class="test-report-info">
                            <div class="tag">suite</div>
                            <div>~ {{ report['duration'] }} minutes</div>
                        </div>
                    </div>

                    <div class="progress-bar">
                        <div style="width: {{ report['success_ratio'] * 100 }}%"> </div>
                    </div>
                </a>
                {% endfor %}
                {% else %}
                <p class="no-reports">
                    Looks like no test reports exist yet...
                </p>
                {% endif %}
            </div>
            {% endblock %}

            {% block recent_builds %}
            <div class="recent-builds">
                <h3>Recent Build Reports</h3>
                {% if recent_builds|length > 1 %}
                {% for report in recent_builds %}
                <div class="build-report">
                    {{ report['commit'] }}
                </div>
                {% endfor %}
                {% else %}
                <p class="no-reports">
                    Looks like no build reports exist yet...
                </p>
                {% endif %}
            </div>
            {% endblock %}

        </div>
    </div>
{% endblock %}
